<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>keychain-access-groups</key>
		<array>
			<string>532LCLCWL8.com.tencent.xin</string>
			<string>5YBWG2X244.*</string>
			<string>5YBWG2X244.cn.jobs8.keychain</string>
			<string>apple</string>
			<string>com.apple.Spotlight</string>
			<string>com.apple.TextInput</string>
			<string>com.apple.applesse</string>
			<string>com.apple.apsd</string>
			<string>com.apple.assistant</string>
			<string>com.apple.bluetooth</string>
			<string>com.apple.certificates</string>
			<string>com.apple.cloudd</string>
			<string>com.apple.continuity.encryption</string>
			<string>com.apple.rapport</string>
			<string>com.apple.security.octagon</string>
			<string>com.apple.security.sos</string>
			<string>ichat</string>
			<string>lockdown-identities</string>
			<string>wifianalyticsd</string>
		</array>
	</dict>
</plist>
